{% extends "base.html" %} {% load static %} {% block style %}
    <style>
        .nav-link:hover {
            text-decoration: underline;
        }
        #video-container {
            line-height: 0;
            aspect-ratio: 1 / 1;
            width: 100%;
            height: 100%;
        }

        #flash-toggle {
            display: none;
        }

        video {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock %} {% block main %}
    <div id="video-container">
        <video id="qr-video"></video>
    </div>
    <div>
        <button id="flash-toggle">📸 Flash: <span id="flash-state">off</span></button>
    </div>
    <br />
    <b>Detected QR code: </b>
    <span id="cam-qr-result">None</span>

    <button id="checkin-button">CHECK IN</button>
    <b>Tickets checked-in </b>
    <span id="tickets-checked">None</span>

    <script type="module">
        import QrScanner from "{% static 'scripts/vendor/qr-scanner.min.js' %}";

        const video = document.getElementById("qr-video");
        const videoContainer = document.getElementById("video-container");
        const flashToggle = document.getElementById("flash-toggle");
        const flashState = document.getElementById("flash-state");
        const camQrResult = document.getElementById("cam-qr-result");

        function setResult(label, result) {
            console.log(result.data);
            label.textContent = result.data;
            camQrResultTimestamp.textContent = new Date().toString();
            label.style.color = "teal";
            clearTimeout(label.highlightTimeout);
            label.highlightTimeout = setTimeout(
                () => (label.style.color = "inherit"),
                100
            );
        }

        // ####### Web Cam Scanning #######

        const scanner = new QrScanner(
            video,
            (result) => setResult(camQrResult, result),
            {
                onDecodeError: (error) => {
                    camQrResult.textContent = error;
                    camQrResult.style.color = "inherit";
                },
                highlightScanRegion: true,
                highlightCodeOutline: true,
            }
        );

        const updateFlashAvailability = () => {
            scanner.hasFlash().then((hasFlash) => {
                flashToggle.style.display = hasFlash ? "inline-block" : "none";
            });
        };

        scanner.start().then(() => {
            updateFlashAvailability();
            scanner._updateOverlay();
        });

        // for debugging
        window.scanner = scanner;

        flashToggle.addEventListener("click", () => {
            scanner
                .toggleFlash()
                .then(
                () => (flashState.textContent = scanner.isFlashOn() ? "on" : "off")
            );
        });
    </script>
{% endblock %}
