{% extends "base.html" %} {% load static %}{% block title %}{{title}}{% endblock %}

{% block main %}
    <section class="mb-4">
        <h2>Buy a ticket</h2>
        <p>
            You are only allowed to buy as many tickets as your ticket allowance permits. The first ticket must be for yourself and subsequent ones will be automatically counted as guest tickets.
        </p>
    </section>
    {% if form.errors %}
        <section>
            <div class="alert alert-danger">
                <h4 class="alert-heading">There's a problem with the data you submitted</h4>
                <ul class="mb-0">
                    {% for k, v in form.errors.items %} {% for err in v %}
                        <li><strong>{{k}}</strong>: {{err}}</li>
                    {% endfor %} {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
    <form action="{% url 'buy_ticket' %}" method="post">
        {% csrf_token %}
        <div class="mb-4 bg-light p-3 rounded">
            <h4>Attendee information</h4>
            <div class="mb-3">
                <div class="col">
                    <label for="{{form.full_name.id_for_label}}" class="form-label">Full name</label>
                    <input
                        id="{{form.full_name.id_for_label}}"
                        type="text"
                        class="form-control"
                        name="{{form.full_name.html_name}}"
                        value="{{form.full_name.value}}"
                        {% if user.is_first_own_ticket %}disabled{% endif %}
                    />
                </div>
            </div>
            <div class="mb-3">
                <label for="{{form.email.id_for_label}}" class="form-label"
                >Email address
                </label>
                <input
                    type="email"
                    class="form-control"
                    id="{{form.email.id_for_label}}"
                    value="{{form.email.value}}"
                    name="{{form.email.html_name}}"
                    {% if user.is_first_own_ticket %}disabled{% endif %}
                />
                <div class="form-text">
                    This is the email of the attendee (yourself/your guest). We'll use this email to send them all ticketing-related correspondence,
                    including their tickets.
                </div>
            </div>
            <div class="mb-3">
                <label for="{{form.dob.id_for_label}}" class="form-label">Date of Birth</label>
                <input class="form-control" type="date" id="{{form.dob.id_for_label}}" name="{{form.dob.html_name}}"
                    value="{{form.dob.value}}"
                    max="2005-03-17"
                />
            </div>
            <div class="mb-3">
                <label for="{{form.kind.id_for_label}}" class="form-label">Ticket type</label>
                <select class="form-select" name="{{form.kind.html_name}}" id="{{form.kind.id_for_label}}">
                    {% for kind in form.fields.kind.queryset %}
                        <option data-price="{{kind.price}}" value="{{ kind.id|stringformat:'s' }}">{{ kind.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="bg-light p-3 rounded mb-4">
            <h4>Payment details</h4>
            <div class="row mb-3">
                <label for="buy_ticket_membership" class="col-sm-4 col-form-label"
                >Method</label
                    >
                    <div class="col-sm-8">
                        <select id="buy_ticket_membership" class="form-select" disabled>
                            <option selected>{{user.kind.payment_method.name}}</option>
                        </select>
                    </div>
                    <div id="buy_ticket_membership_help" class="form-text">
                        Members of {{ user.kind.name }} are restricted to paying by {{ user.kind.payment_method.name }}.
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">Amount (£)</div>
                    <div class="col-8 text-end" id="buy_ticket_amount">
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-lg btn-primary">Purchase</button>
        </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/buy_ticket.js' %}"></script>
{% endblock %}