{% extends "base.html" %}
{% load static %}

{% block style %}
    div.mb-3:last-child {
    margin-bottom   : 0px !important;
    }
{% endblock %}

{% block main %}
    <section class="mb-4">
        <h2>Buy a ticket</h2>
        <p>
            You are only allowed to buy as many tickets as your ticket allowance permits. The first ticket must be for yourself and subsequent ones will be automatically counted as guest tickets.
        </p>
    </section>
    {% if form.errors %}
        {% include "partials/form_errors.html" with form=form only %}
    {% endif %}
    <div class="mb-4 bg-light p-3 rounded">
        <h4>Ticket availability</h4>
        <div>
            {% if user.has_firstonly_ticketkinds and user.is_first_own_ticket  %}
                <p>As a member of <span class="fw-bold">{{user.kind.name}}</span> you are eligible to buy 1 of:</p>
                {% include "partials/ticketkind_list.html" with qs=valid_ticketkinds only %}
                <p>Once you have bought your first ticket, more ticket types will become available.</p>
            {% else %}
                <p>As a member of <span class="fw-bold">{{user.kind.name}}</span> you are eligible to buy {{ user.tickets_left }} of:</p>
                {% include "partials/ticketkind_list.html" with qs=valid_ticketkinds only %}
            {% endif %}
            {% if user.kind.enum == "GIRTON_ALUM" %}
                An optional contribution of £15 to the Ball is kindly requested of alumni. This contribution will be used  to partially finance/subsidise the tickets of current Girton students who are in receipt of a College Bursary.
            {% endif %}
        </div>
    </div>

    <form action="{% url 'buy_ticket' %}" method="post">
        {% csrf_token %}
        <div id="form-inner" class="mb-4 bg-light p-3 rounded">
            <h4>Attendee information</h4>
            <div class="mb-3">
                <div class="col">
                    <label for="{{form.full_name.id_for_label}}" class="form-label">Full name</label>
                    <input
                        id="{{form.full_name.id_for_label}}"
                        type="text"
                        class="form-control"
                        name="{{form.full_name.html_name}}"
                        value="{{form.full_name.value}}"
                        {% if user.has_firstonly_ticketkinds and user.is_first_own_ticket %}disabled{% endif %}
                    />
                </div>
            </div>
            <div class="mb-3">
                <label for="{{form.email.id_for_label}}" class="form-label"
                >Email address
                </label>
                <input
                    type="email"
                    class="form-control"
                    id="{{form.email.id_for_label}}"
                    value="{{form.email.value}}"
                    name="{{form.email.html_name}}"
                    {% if user.has_firstonly_ticketkinds and user.is_first_own_ticket %}disabled{% endif %}
                />
                <div class="form-text">
                    This is the email of the attendee (yourself/your guest). We'll use this email to send them all ticketing-related correspondence,
                    including their tickets.
                </div>
            </div>
            <div class="mb-3">
                <label for="{{form.kind.id_for_label}}" class="form-label">Ticket type</label>
                <select class="form-select" name="{{form.kind.html_name}}" id="{{form.kind.id_for_label}}">
                    {% for kind in form.fields.kind.queryset %}
                        <option data-price="{{kind.price}}" value="{{ kind.id|stringformat:'s' }}">{{ kind.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% for kind in form.fields.kind.queryset %}
                {% for extra in kind.optional_extras.all %}
                    <div class="{% if not forloop.last %}%mb-3{% endif %}" {% if not forloop.parentloop.first %}style="display:none"{% endif %}>
                        <div class="form-check">
                            <input class="extra {{extra.enum.lower}} form-check-input" type="checkbox" value="true" name ="{{extra.enum.lower}}_{{kind.pk}}" {% if extra.opt_out %}checked{% endif %} data-price={{extra.price}} data-kind={{kind.pk}}>
                            <label class="form-check-label">
                                {{ extra.label }}
                            </label>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" name ="{{form.is_veg.html_name}}">
                    <label class="form-check-label">
                        I generally conform to a vegan or vegetarian diet
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" name ="{{form.is_alc.html_name}}">
                    <label class="form-check-label">
                        I generally do not drink alcohol
                    </label>
                </div>
            </div>
            <div class="form-text">
                Any accesibility requirements should be made known at the earliest instance to the <a href="mailto:gsb23accessibility@gmail.com">Sustainability and Accessibility Officer</a>.
            </div>
        </div>
        <div class="bg-light p-3 rounded mb-4">
            <h4>Payment details</h4>
            <div class="row mb-3">
                <label for="buy_ticket_membership" class="col-sm-4 col-form-label"
                >Method</label
                    >
                    <div class="col-sm-8">
                        <select id="buy_ticket_membership" class="form-select" disabled>
                            <option selected>{{user.kind.payment_method.name}}</option>
                        </select>
                    </div>
                    <div id="buy_ticket_membership_help" class="form-text">
                        Members of {{ user.kind.name }} are restricted to paying by {{ user.kind.payment_method.name }}.
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">Amount (£)</div>
                    <div class="col-8 text-end" id="buy_ticket_amount">
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-lg btn-primary">Purchase</button>
        </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/buy_ticket.js' %}"></script>
{% endblock %}