{% extends "base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block style %}
    body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
    }
{% endblock %}

{% block main %}
    <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal"><span class="rounded px-2" style="background-color: rgba(186,225,255, 0.7);">GSB 2023</span></h1>
        <p class="fs-5 text-muted">
            This is the 2023 Girton Spring Ball ticketing platform.
        </p>
    </div>

    <div class="p-3 mb-4" style="background-color: rgba(255,223,186);">
        <h4>Buy tickets</h4>
        <ul class="mb-0">
            <li>Only Girton members (undergraduate, postgraduate, staff, and alumni) are allowed to purchase tickets.</li>
            <li>Girton members will be charged on their College Bill. Alumni will bank transfer.</li>
            <li>You are entitled to purchase a set number of tickets. The exact allocation is revealed upon login.</li>
        </ul>
    </div>

    <div class="p-3 mb-4" style="background-color: rgba(186,255,201, 0.7);">
        <h4>Manage tickets</h4>
        <ul class="mb-0">
            <li>Once tickets are bought, they cannot be refunded.</li>
            <li>You are allowed to request a name change, subject to a cost of £xx.</li>
            <li>Any ticket holder can mark their ticket as 'swappable', after which any member of Cambridge University can purchase it here.</li>
        </ul>
    </div>

    <div class="p-3" style="background-color: rgba(255,255,186, 0.7);">
        <h4>Gaining access</h4>
        <div class="pb-2  mb-2" style="border-bottom: 1px solid skyblue;">
            <p>Login with Raven below to buy or manage tickets.</p>
            <a
                href="{% url 'raven_login' %}"
                class="btn btn-lg btn-gsb-raven w-100 mb-2"
            >
                <img
                    src="{% static 'images/raven.svg' %}"
                    class="me-2"
                    style="width: 2rem"
                />

                Log in with Raven
            </a>
        </div>
        <p class="mb-0">Are you a pre-2013 alumnus/a? <a href="{% url 'request_account'%}">Request an account</a> or <a href="{% url 'login_manual'%}">log in</a>.</p>

    </div>
{% endblock %}
