{% extends "base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block style%}
    body {
    background-color: #FCFBF4;
    }
{% endblock %}

{% block main %}
    <div class="row row-cols-1 row-cols-lg-2 mb-3">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-center">
                    <h4 class="my-0 fw-normal">Alumni login</h4>
                </div>
                <div class="card-body">
                    {% if login_form.errors %}
                        {% include "partials/form_errors.html" with form=login_form only %}
                    {% endif %}
                    <form action="{% url 'login_guest' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3 row">
                            <label for="{{login_form.email.id_for_label}}" class="col-lg-3 col-form-label">Email address</label>
                            <div class="col-lg-9">
                                <input id="{{login_form.email.id_for_label}}" name="{{ login_form.email.html_name }}" type="email" class="form-control form-control-lg">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{login_form.passphrase.id_for_label}}" class="col-lg-3 col-form-label">Passphrase</label>
                            <div class="col-lg-9">
                                <input id="{{login_form.passphrase.id_for_label}}" type="password" class="form-control form-control-lg" name="{{ login_form.passphrase.html_name }}">
                            </div>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary btn-gsb-alum" type="submit">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-center">
                    <h4 class="my-0 fw-normal">Register an account</h4>
                </div>
                <div class="card-body">
                    {% if signup_form.errors %}
                        {% include "partials/form_errors.html" with form=signup_form only %}
                    {% endif %}
                    <form action="{% url 'signup_guest' %}" method="post" class="mb-3">
                        {% csrf_token %}
                        <div class="mb-3 row">
                            <label for="{{signup_form.email.id_for_label}}" class="col-lg-4 col-form-label">Email</label>
                            <div class="col-lg-8">
                                <input name="{{ signup_form.email.html_name }}" type="input" class="form-control " id="{{signup_form.email.id_for_label}}" value="{{signup_form.email.value}}">
                            </div>
                            <span class="form-text">
                                Your email will be used for all subsequent logins to the platform.
                            </span>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{signup_form.name.id_for_label}}" class="col-lg-4 col-form-label">First name</label>
                            <div class="col-lg-8">
                                <input name="{{ signup_form.name.html_name }}" type="input" class="form-control " id="{{signup_form.name.id_for_label}}" value="{{signup_form.name.value}}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{signup_form.surname.id_for_label}}" class="col-lg-4 col-form-label">Surname</label>
                            <div class="col-lg-8">
                                <input name="{{ signup_form.surname.html_name }}" type="input" class="form-control " id="{{signup_form.surname.id_for_label}}" value="{{signup_form.surname.value}}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{signup_form.matric_date.id_for_label}}" class="col-lg-4 col-form-label">Matriculation date</label>
                            <div class="col-lg-8">
                                <input name="{{ signup_form.matric_date.html_name }}" type="date" class="form-control " id="{{signup_form.matric_date.id_for_label}}" value="{{signup_form.matric_date.value}}">
                            </div>
                            <span class="form-text">
                                A rough estimate is sufficient to confirm your alumni status, e.g. 01 October of the year you joined Girton
                            </span>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{signup_form.pname.id_for_label}}" class="col-lg-4 col-form-label">Previous first name</label>
                            <div class="col-lg-8">
                                <input name="{{ signup_form.pname.html_name }}" type="input" class="form-control " id="{{signup_form.pname.id_for_label}}" placeholder="optional" value="{{signup_form.pname.value}}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{signup_form.psurname.id_for_label}}" class="col-lg-4 col-form-label">Previous surname </label>
                            <div class="col-lg-8">
                                <input name="{{ signup_form.psurname.html_name }}" type="input" class="form-control " id="{{signup_form.psurname.id_for_label}}" placeholder="optional" value="{{signup_form.psurname.value}}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{signup_form.passphrase.id_for_label}}" class="col-lg-4 col-form-label">Passphrase</label>
                            <div class="col-lg-8">
                                <input id="{{signup_form.passphrase.id_for_label}}" type="password" class="form-control" name="{{ signup_form.passphrase.html_name }}">
                            </div>
                            <span class="form-text">
                                Your passphrase should be more than 14 characters long and ideally be composed of multiple words separated by spaces.
                            </span>
                        </div>
                        <div class="mb-3 row">
                            <label for="{{signup_form.promocode.id_for_label}}" class="col-lg-4 col-form-label">Verification code</label>
                            <div class="col-lg-8">
                                <input name="{{ signup_form.promocode.html_name }}" type="input" class="form-control " id="{{signup_form.promocode.id_for_label}}">
                            </div>
                            <span class="form-text">
                                This was emailed to you by the Development Office.
                            </span>

                        </div>
                        <button class="w-100 btn btn-lg btn-primary btn-gsb-alum" type="submit">Sign up</button>
                    </form>
                    <p>Once your Account Registration details have been successfully submitted you can login via the Alumni Login </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}