{% extends "base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block style%}

    body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
    }

    .form-signin {
    max-width: 367px;
    }

    .form-signin .form-floating:focus-within {
    z-index: 2;
    }

    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }
{% endblock %}

{% block main %}
    {% if form.errors %}
        <section>
            <div class="alert alert-danger">
                <h4 class="alert-heading">Login details invalid</h4>
                <ul class="mb-0">
                    {% for k, v in form.errors.items %} {% for err in v %}
                        <li><strong>{{k}}</strong>: {{err}}</li>
                    {% endfor %} {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
    <div class="form-signin mx-auto rounded p-3" style="background-color:  rgba(62, 63, 131, 0.7);">
        <form action="{% url 'login_guest' %}" method="post">
            {% csrf_token %}
            <img class="mb-4 d-block mx-auto" src="{% static 'android-chrome-512x512.png' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal text-center">Alumni login</h1>

            <div class="form-floating">
                <input name="{{ form.email.html_name }}" type="email" class="form-control" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input name="{{ form.password.html_name }}" type="password" class="form-control" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 mt-3 btn btn-lg btn-primary" type="submit">Sign in</button>

        </form>
        <form action="{% url 'signup_guest' %}" method="post">
            {% csrf_token %}
            <img class="mb-4 d-block mx-auto" src="{% static 'android-chrome-512x512.png' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal text-center">Got a code?</h1>

            <div class="form-floating">
                <input name="{{ form.code.html_name }}" type="input" class="form-control" placeholder="name@example.com">
                <label for="floatingInput">Development Office Code</label>
            </div>

            <button class="w-100 mt-3 btn btn-lg btn-primary" type="submit">Sign in</button>

        </form>
    </div>

{% endblock %}