{% extends "base.html" %} {% block title %}{{title}}{% endblock %}

{% block main %}
    <section class="mb-4">
        <h2 class="mb-3">Buy tickets</h2>
        <div class="bg-light p-3 rounded">
            <div class="row text-center">
                <div class="col">
                    <h4>Your ticket allowance</h4>
                    <span class="fs-5 text-muted">{{ tickets_left }}</span>
                </div>
                <div class="col">
                    <h4>Ticket group</h4>
                    <span class="fs-5 text-muted">{{ user.kind.name}}</span>
                </div>
                <div class="col">
                    <h4>Ticket wave</h4>
                    <span class="fs-5 text-muted">{{ wave.name }}</span>
                </div>
                <div class="col align-self-center">
                    {% if eligible %}
                        <a href="{% url 'buy_ticket' %}" class="btn btn-success btn-lg"><span>Buy a ticket<span></a>
                    {% else %}
                        <a class="btn btn-success btn-lg disabled"><span>Buy a ticket<span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="mb-4">
        <h2 class="mb-3">Your tickets</h2>
        {% if user.tickets.all %}
            <p>These are all the tickets you have requested/purchased.</p>
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
                {% for ticket in user.tickets.all %}
                    {% include "partials/ticket.html" with ticket=ticket only %}
                {% endfor %}
            </div>
            <p class="text-muted card-text">All College Bill payments will be cleared once they have been charged on your Lent Term bill. No further action is needed.</p>
        {% else %}
            <p>You have not purchased any tickets.</p>
        {% endif %}

    </section>
{% endblock %}
